doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fjalla+One|Kadwa')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
