doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Jeopardy!
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fjalla+One|Kadwa')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel="shortcut icon" href="https://ih1.redbubble.net/image.749154341.5936/flat,128x128,075,f-pad,128x128,f8f8f8.u3.jpg")

  body
    block body
